<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    >
    <title>{{ page_title }} | ChessCoach</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/chessboard.js/1.0.0/chessboard-1.0.0.min.css"
    >
    <link rel="stylesheet" href="/static/app.css">
  </head>
  <body class="{% block body_class %}page{% endblock %}">
    {% block content %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.13.4/chess.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chessboard.js/1.0.0/chessboard-1.0.0.min.js"></script>
    <script src="/static/app.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
