APP_ENV=development
EXPO_PUBLIC_CHESSCOACH_API_URL=http://192.168.1.20:8000
EXPO_PUBLIC_CHESSCOACH_IOS_BUNDLE_ID=com.shaharheyman.chesscoach
EXPO_PUBLIC_CHESSCOACH_ANDROID_PACKAGE=com.shaharheyman.chesscoach
